@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);

}
.header-content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1180px;
    padding: 0.5rem;
    /* background-color: aqua; */
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.500rem;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
}

.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}

.logo-text:hover{
    color: var(--primary-color);
}

.nav{
    display: flex;
    gap: 1.5rem;
}

@media screen and (max-width:850px) {
    .nav{
        display: none;
    }
}

.nav-link{
    font-size: 1rem;
    font-weight: 600px;
    color: var(--gray);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.nav-link:hover{
    color: var(--link-color);
}

.contact-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    color: var(--background-color);
    font-weight: bold;
    font-size: 1.5rem;
    max-height: 50px;
    margin-top: 1.4rem;
    padding: 0rem 1.5rem;
    border-radius: 10px;
}

.contact-button:hover{
    background-color: var(--primary-color);
}
.Hamburger-icon{
    display: none;
    justify-content: center;
    margin-top: 1.55rem;
    /* color: var(--gray); */
    /* align-items: center; */
    height: 3rem;
    /* width: 1rem; */
}
@media screen and (max-width:850px){
    .contact-button{
        display: none;
    }

    .Hamburger-img{
        display: block;
    }
}


.main-section{
    display: flex;
    justify-content: space-between;
    margin: 3.5rem auto;
    max-width: 1180px;
    max-height: 1000px;
}

@media screen and (min-width:850) {
    .main-section{
        /* display: flex; */
        flex-direction: column;
    }
}

.content-left{
    max-width: 40%;
    margin: 0 auto;
    /* padding: 0; */
    max-height: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    /* background-color: violet; */
    justify-content: center;
    /* align-items: start; */
    animation: slideFromLeft 1.3s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {

    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0%);
    }
    
}

.main-span{
    color: var(--primary-color);
    padding: 1rem 0rem;
    margin: 0;
    display: flex;
    /* font-weight: 499; */

}

.main-span:hover{
    color: var(--link-color);
    font-weight: 900;
}

.main-heading{
    font-size: 2rem;
    display: flex;
    justify-content: start;
    align-items: start;
    /* font-weight: bold; */
}

.main-heading:hover{
    color: #5E877D;
}
.content-description{

    color: var(--dark-gray);
    font-weight: 200px;
    padding: 0.879rem;
    font-size: 0.825rem;
}
.content-description:hover{
    color: #3081dd;
    font-weight: 1000;
    /* transform: scale(); */
}
.button-group{
    display: flex;
    /* justify-content: space-evenly; */
    width: 40%;
    /* align-items: center; */
    /* background-color: purple; */
    /* gap: 1rem; */
    border: none;
    box-sizing: border-box;
    gap: 1.4rem;
}

.start{
    background-color: var(--link-color);
    color: var(--background-color);
    padding: 8px;
    /* height: 100%; */
    /* width: 30%; */
    border: none;
    border-radius: 4px;
    font-weight: 200px;
}

.start:hover{
    background-color: #3B6790;
}

.take-tour{
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    border-radius: 4px;
    font-weight: 200px;
    padding: 7px;
}

.take-tour:hover{
    background-color: #9d49d2;
}

.content-right{
    max-height: 100%;
    max-width: 48%;
    /* background-color: black; */
    display: flex;
    justify-content: end;
    align-items: end;
    animation: slideFromRight 1.3s ease forwards;
    opacity: 0%;
}

@keyframes slideFromRight {

    0%{
        opacity: 0;
        transform: translateX(100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0%);
    }
    
}

.content-image{
    /* height: 150%; */
    width: 70%;
    border: none;
    border-radius: 1.5rem;
}

.company-container{
    max-width: 100vw;
    height: 10rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* background-color: #9d49d2; */
    animation: slideFromDown 1.3s ease forwards ;
    /* opacity: 0; */
}

@keyframes slideFromDown {
    0%{
        opacity: 0;
        transform: translatey(100%);
    }

    100%{
        opacity: 1;
        transform: translatey(0%);
    }
    
}

.company-content{
    height: 50%;
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(187, 183, 183, 0.235);
    border-radius: 0.6rem;
    /* background-color: #3081dd; */
}

.company-grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    padding: 2rem;
    padding-right: 3rem;
    /* background-color: rgba(187, 183, 183, 0.235); */
    /* background-color: #333333; */

}

@media screen and (max-width:820px) {

    .company-content{
        height: 8rem;
    }
    
    .company-grid{
        margin-top: auto 0;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-evenly;
    }
}

.company-heading{
    color: var(--dark-gray);
}

.company-heading:hover{
    color: #333333;
}
.company-logo1{
    /* height: 100%;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #2563eb; */
}

.google-logo{
    height: 1.5rem;
    width: 1.5rem;
    padding-left: 0.25rem;
}

.company-logo2{
    /* height: 100%;
    width: 100%; */
    display: flex;
    gap: 0.7rem;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #3081dd; */
}

.microsoft-logo{
    height: 1.5rem;
    width: 1.5rem;
}

.company-logo3{
    /* height: 100%;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #3B6790; */
}

.linkedin-logo{
    height: 1.5rem;
    width: 1.5rem;
}

.company-logo4{
    /* height: 100%;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.6rem;
    padding-right: 0.25rem;
    /* margin-right: 0.82rem; */
    /* background-color: #44bfc3; */
}

.vectoredu-logo{
    height: 1.8rem;
    width: 1.8rem;
}

.company-text1{
    font-size: 1.45rem;
    font-weight: 400;
    color: #4b4646;
}

.company-text{
    font-size: 1.3rem;
    font-weight: 400;
    color: #4b4646;

}

.company-text:hover{
    color: #333333;
}

.featurecontainer{
    background-color: rgba(187, 183, 183, 0.235);
    padding: 1rem 0;
    text-align: center;
}

.featurecontent{
    max-width: 800px;
    margin: 1rem auto;
    padding: 0 auto;
    
}

.featureheading{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-title{
    font-size: 2.3rem;
}

.main-desc{
    color: rgb(111, 108, 108);
}

.main-desc:hover{
    color: #333333;
}
    
.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: 2rem; */ /* we can use this also */
    grid-gap: 2rem;
    margin-top: 1.3rem;
    /* padding: 1rem; */
    /* background-color: #333333; */
}

.featurecard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #528ed3e6;
    padding: 2rem 1rem;
    border-radius: 1rem;
}
.iconcontainer{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 50%;
}

.grid-img{
    width: 2rem;
    height: 2rem;

}

.featureinfo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.featurecard{
    display: flex;
    gap: 1rem;
}
.featuretitle{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.featuredesc{
    color: #ffffff;
    font-weight: 500;
}

.featurecard:nth-child(1){
    background-color: #4a90e2;
}

.featurecard:nth-child(2){
    background-color: #ff6289;
}

.featurecard:nth-child(3){
    background-color: #fcbf58;
}

.featurecard:nth-child(4){
    background-color: #44bfc3;
}

.featurecard:nth-child(5){
    background-color: #77b05d;
}

.featurecard:nth-child(6){
    background-color: #7d78b1;
}

@media screen and (max-width:720px) {
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
        margin: 0 1rem;
        margin-top:1rem ;
    }
}

.testemonial-container{
    max-width: 100vw;
    margin: 0;
    display: flex;
    position: relative;
}

.testemonial-content{
    width: 1100px;
    margin: 1rem auto;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    
}

.test-heading{
    margin: 1rem;
}

.testemonial-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    /* grid-gap: 1rem; */
}

.testemonial-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    gap: 0.8rem;
    border: 1.5px solid rgba(167, 161, 161, 0.423);
    border-radius: 8px;
    transition: transform 0.3 ease, box-shadow 0.3s ease;
}

.testemonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.378);
}

.card-para{
   margin: 1rem;
}

.person-name{
    color: var(--link-color);
}

.test-para1{
    font-weight: 500;
}
.test-img{
    width: 5rem;
    margin: 0;
}

.person-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
@media screen and (max-width: 828px){
    .testemonial-grid{
        grid-template-columns: repeat(1,1fr);
    }
}

.newsletter-container{
    width: 100vw;
    display: flex;
    /* position: relative; */
    /* justify-content: center; */
    
    /* align-items: center; */
    /* background-color: #44bfc3; */
}

@media screen and (min-width:828) {
    .newsletter-container{
        /* display: flex; */
        margin-top: 1rem;
        /* position: relative; */
    }
}

.newsletter-content{
    width: 1100px;
    display: flex;
    margin: 0 auto;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: var(--light-gray);
    border-radius: 0.459rem;
    gap: 1rem;
    margin-top: 1rem;
}

/* @media screen and (min-width:763px) {
    .newsletter-content{
        display: flex;
    }
} */

.newsletter-leftcontent{
    width: 50%;
    display: none;
    /* background-color: #333333; */
}
.newsletter-img{
    /* box-sizing: border-box; */
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    width: 100%;
}

@media screen and (min-width: 763px) {
    .newsletter-leftcontent{
        display: block;
        /* margin: 1rem; */
        /* padding: 1rem; */
    }

    /* .newsletter-content{
        margin: 1rem;
    } */
} 

.newsletter-rightcontent{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 1.2rem;
    padding: 0.5rem;
    padding-left: 1.3rem;
}

/* @media screen and (min-width: 763px) {
    .newsletter-rightcontent{
        width: 90%;
    }
} */

.heading-para{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
    width: 100%;
    /* height: 100%; */
}

.newsletter-heading{
    font-size: 2rem;
    font-weight: bold;
    color: var(--link-color);
}

.newsletter-para{
    color: rgb(83, 80, 80);
}

.newsletter-form{
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    border: none;
}

.newsletter-form:focus{
    border: #2563eb;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
}

.newsletter-palceholder{
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.newsletter-button{
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    /* width: 7vw; */
    color: #ffffff;
    background-color: var(--accent-color);
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
}

.newsletter-anchor{
    font-size: 0.8rem;
    font-weight: 500;
}

.anchor-tag{
    /* font-weight: bold; */
    text-decoration: underline;
}

.footer-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 100vw;
    margin-top: 3rem;
    padding-top: 2rem;
    /* background-color: #2563eb; */
}

.footer{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 1100px;
    margin: 0 auto;
    gap: 2rem;
    border-bottom: 1px solid #E5E7EB;
    /* background-color: #2563eb; */
}

.top-footer{
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
}

.footer-icon{
    width: 20vw;
    height: 5vh;
    /* background-color: #3081dd; */
    display: flex;
    gap: 1rem;
}

.footer-img{
    height: 2rem;
    width: 2rem;
}

.footer-title{
    font-weight: 800;
    font-size: 1.7rem;
}

.footer-desc{
    margin: 1rem 0rem;
}

.footer-para{
    font-size: 1.2rem;
    padding: 1rem auto;
    font-weight: 400;
    color: var(--gray);
}

.footer-company-logo{
    display: flex;
    flex-direction: row;
    gap: 1.35rem;
    padding: 1rem 0rem;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.4rem;
}

/* .footer-grid1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-grid2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-grid3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-grid4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    flex-wrap: wrap;
} */

.grid-unordered-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    gap: 1rem;
}

.grid-link{
    color: var(--dark-gray);
}

.grid-link:hover{
    font-weight: 550;
    color: var(--link-color);
}

.footer-copywrite{
    margin: 1.7rem 0rem;
    color:#3f3c3c;
    font-size: 0.6rem;
}

@media screen and (max-width:960) {
    .footer{
        flex-direction: column;
    }
}